$color: #fcfafa;
$bgcolor: #66f7d0;
$textcolor: #003049;
$nonebgcolor: #00000000;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin-left: 5%;
    
    background: linear-gradient(75deg, $bgcolor, $color);
    text-align: left;
}

blockquote {
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 160%;
    background-color: #cccccc66;
    border-left: 3px solid firebrick;
    padding-left: 30px;
}

header {
    margin-top: 15px;

    h1 {
        background-color: yellow;
    }
}

q {
    font-style: italic;
}

.town {
    border-left: 2px solid darkorchid;
}

.farmer {
    border-left: 2px solid yellow;
}

mark {
    text-transform: capitalize;    
    background-color: $nonebgcolor;
}

.bad {
    color: red;
}

.good {
    color: green;
}

.white {
    background-color: $color;
}

.gray {
    background-color: #999999;
}

.use-flex {
    display: flex;
}